filter {
  if [type] == "artifactory-access" {
    kv {
      trim_value => " "
    }

    grok {
      match => {
        "message" => [
          "%{DATESTAMP:datestamp}%{SPACE}\[%{GREEDYDATA:request_type}\]%{SPACE}%{NOTSPACE:repo}\:(?<package>.+?)\.(?<version>\d([0-9\.])+).nupkg%{SPACE}for%{SPACE}%{NOTSPACE:user}\/%{IPORHOST:remote}\.",
          "%{DATESTAMP:datestamp}%{SPACE}\[%{GREEDYDATA:request_type}\]%{SPACE}%{NOTSPACE:repo}\:(?<package>.+?)\.(?<version>\d([0-9\.])+)\-%{NOTSPACE:prerelease}\.nupkg%{SPACE}for%{SPACE}%{NOTSPACE:user}\/%{IPORHOST:remote}\.",
          "%{DATESTAMP:datestamp}%{SPACE}\[%{GREEDYDATA:request_type}\]%{SPACE}%{GREEDYDATA:msg}%{SPACE}for%{SPACE}%{NOTSPACE:user}\/%{IPORHOST:remote}\.",
          "%{DATESTAMP:datestamp}%{SPACE}\[%{GREEDYDATA:request_type}\]%{SPACE}for%{SPACE}%{NOTSPACE:user}\/%{IPORHOST:remote}\.",
          "%{DATESTAMP:datestamp}%{SPACE}\[%{GREEDYDATA:request_type}\]%{SPACE}for%{SPACE}%{NOTSPACE:user}\."
        ]
      }
    }

    date {
      match => [ "datestamp", "YY-MM-dd HH:mm:ss,SSS" ]
      target => "@timestamp"
      add_tag => [ "timestamp_from_log" ]
    }

    if [remote] {
      mutate {
        add_field => { "clientip" => "%{remote}" }
      }
    }
  }

  if [type] == "artifactory-catalina" {
    kv {
      trim_value => " "
    }

    grok {
      match => {
        "message" => [
          "%{TIMESTAMP_ISO8601:datestamp} \[(?<thread>.+?)\] \[%{LOGLEVEL:level}%{SPACE}\] \(%{JAVACLASS:class}:%{NUMBER:line}\) - %{GREEDYDATA:logmessage}"
        ]
      }
      remove_field => [
        ",Version",
        "customOptions",
        "includePrerelease",
        "versionConstraints",
        "searchTerm",
        "includeAllVersions",
        "targetFrameworks",
        "targetFramework",
        "thread"
      ]
    }

    date {
      match => [
        "datestamp",
        "yyyy-MM-dd HH:mm:ss,SSS"
      ]
      add_tag => [ "timestamp_from_log" ]
      remove_field => [datestamp]
    }
  }
}
